* {
	padding: 0;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	line-height: 1.5em;
	color: $font-color;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:visited, a:active, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: $headings-color;
}

h1 {
	font-size: 6em;
    text-align: center;
    width: 60%;
    margin: 6rem 20% 4rem 20%;
    color: $main-color;
    @include break(0, 60.625em) {
    	width: 100%;
    	margin: 6rem 0 4rem 0;
    }
    @include break(0, 38em) {
    	font-size: 3em;
    }
    @include break(38em, 60.625em) {
    	font-size: 4em;
    }
    @include break(95em) {
    	width: 60%;
    	margin: 8rem 20% 6rem 20%;
    	font-size: 7em;
    }
}

h2 {
    background: $background-color;
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    height: 6rem;
    font-size: 3em;
    padding: 1rem 3rem;
	-webkit-box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	-moz-box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	@include break(0, 38em) {
		font-size: 1.75em;
		height: 4rem;
	}
	@include break(38em, 60.625em) {
		font-size: 2em;
		height: 5rem;
	}
}

.info {
	p {
		width: 50%;
		margin:0 25% 8rem 25%;
        margin-left: 25%;
        text-align: center;
        font-size: 1.15em;
        color: $headings-color;
        font-weight: 500;
        @include break(0, 38em) {
        	width: 90%;
        	margin: 0 5% 9rem 5%;
        	font-size: 1em;
        }
        @include break(38em, 60.625em) {
        	width: 70%;
        	margin: 0 15% 8rem 15%;
        	font-size: 1em;
        }
	}
}

body {
	font-size: 18px;
	background: $orange;
}

ul {
	list-style: none;
}

canvas {
	position: fixed;
	top: 0;
	display: block;
	@include break(0, 38em) {
		display: none;
	}
}

.visible {
	display: block;
}

.button, .search, button {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

header {
    position: relative;
	z-index: 10;
	width: 100%;
}

header.primary {
	height: 100vh;
	@include break(0, 60.625em) {
    	height: auto;
    }
}

nav.primary {
	    position: fixed;
	    width: 100%;
	    z-index: 500;
	    top: 0;
		background: $background-color-alpha;
		display: flex;
		flex-direction: row;
		padding: 0 2rem;
		@include break(0, 38em) {
			padding: 0.25rem 0.75rem 0.25rem 1rem;
			height: 2.5rem;
		}
		@include break(38em) {
			height: 2.5rem;
		}
		@include break(95em) {
			padding: 0 25%;
		}
		.menu-icon {
			@include break(0, 38em) {
				display: block;
				.fa {
					font-size: 2rem;
					color: $dark-orange;
				}
			}
			@include break(38em, 60.625em) {
				display: block;
				.fa {
					font-size: 2.5rem;
					color: $dark-orange;
				}
			}
			@include break(60.625em) {
				display: none;
			}
		}
		.sliding-menu {
			display: block;
			@include break(0, 60.625em) {
				display: none;
				position: absolute;
    			top: 2.5rem;
    			left: 0;
    			width: 100%;
    			padding: 0.25rem 1rem 0.25rem 1rem;
    			background: $background-color;
    			border-radius: 0 0 0.5rem 0.5rem
			}
		}
		.menu, .menu-secondary {
			display: flex;
			flex-direction: row;
			@include break(0, 60.625em) {
	    		flex-direction: column;
	    		display: none;
	    	}
			li {
				padding: 0.5rem 1.5rem;
				@include break(0, 60.625em) {
					padding: 0.5em 0;
				}
				a {
					font-weight: 700;
					color: $dark-orange;
				}
			}
			li:hover {
				background: $background-color;
				font-weight: 700;
				a {
				color: $orange;
			}
			}
		}
		.social-media {
			margin-left: auto;
			display: flex;
			flex-direction: row;
			padding: 0.25rem 0rem 0.25rem 0rem;
			a {
				margin: 0 1.5rem;
				width: 2rem;
				@include break(0, 38em) {
	    		    margin: 0 0.5rem;
	   		    }
	   		    @include break(38em, 60.625em) {
	   		    	margin: 0 1rem;
	   		    }
			}
			a.linkedin {
				background: url('../images/linkedin.svg') no-repeat;
			}
			a.linkedin:hover {
				background: url('../images/linkedin-active.svg') no-repeat;
			}
			a.github {
				background: url('../images/github.svg') no-repeat;
			}
			a.github:hover {
				background: url('../images/github-active.svg') no-repeat;
			}
			a.mail {
				background: url('../images/mail.svg') no-repeat;
			}
			a.mail:hover {
				background: url('../images/mail-active.svg') no-repeat;
			}
		}
	}

nav.secondary {
	padding: 0rem 1.75rem 0rem 2rem;;
	@include break(38em, 60.625em) {
		padding: 0.25rem 0.75rem 0.25rem 2rem;
	}
	@include break(0, 38em) {
		padding: 0.25rem 0.75rem 0rem 1rem;
	}
	@include break(95em) {
		padding: 0 25%;
	}
}

.menu-secondary {
	@include break(0, 60.625em) {
		display: flex !important;
	}
	@include break(0, 38em) {
		li {
			padding: 0.25rem 0 0.5em 0 !important;
			a {
				font-size: 1.3rem;
			}
		}
	}
	@include break(38em, 60.625em) {
		li {
			padding: 0 !important;
			a {
				font-size: 1.5em;
			}
		} 
	}
	@include break(95em) {
		li a {
			font-size: 1.3rem;
		}
	}
	.fa {
		font-size: 1.15em;
		color: $dark-orange;
	}
}


main {
	position: relative;
	display: flex;
	flex-direction: column;
}

				.button {
					background: $button-color;
					padding: 0.75rem 1rem;
					border-radius: 0.5rem;
    				margin-right: 1rem;
    				font-size: 0.85em;
    				color: $dark-orange;
    				text-transform: uppercase;
    				@include break(0, 38em) {
    					display: block;
   						text-align: center;
   						margin-left: 1rem;
   						margin-right: 1rem;
   						margin-bottom: 1rem;
    				}
    				@include break(38em, 60.625em) {
   						text-align: center;
   						margin-left: 1rem;
   						margin-right: 1rem;
   						margin-bottom: 1rem;
    				}
				}
				.button:hover {
					background: $background-color;
					color: $orange;
					font-weight: 700;
				}

.about, .skills, .portfolio, .contact, .project {
	position: relative;
	z-index: 10;
	@include break(95em) {
		width: 50%;
		margin: 0 25% 2em 25%;
	}
	@include break(60.625em, 95em) {
		width: 80%;
		margin: 0 10% 2em 10%;
	}
	@include break(0, 38em) {
		width: 100%;
		margin: 0 0 2em 0;
	}
	@include break(38em, 60.625em) {
		width: 90%;
		margin: 0 5% 2em 5%;
	}
}
.container-about, .container-skills, .works, .contact-container, .project-container {
	margin-top: 6rem;
	background: $background-color;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(47,69,41,0.53);
	-webkit-box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	-moz-box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	box-shadow: 6px -6px 20px -4px rgba(47,69,41,0.53);
	z-index: 20;
	padding: 3em;
	border-radius: 0 1rem 1rem 1rem;
	@include break(0, 38em) {
		margin-top: 4rem;
		padding: 1rem;
	}
	@include break(38em, 60.625em) {
		margin-top: 5rem;
		padding: 2rem;
	}
}

.about {
	.container-about {
		display: flex;
		justify-content: flex-start;
		@include break(0, 60.625em) {
			display: block;
		}
		.about-me {
			flex: 3;
			background: white;
			border-radius: 0.5rem;
			padding: 1rem;
			@include break(0, 60.625em) {
				border-radius: 0.5rem 0.5rem 0 0;
			}
			p:last-child {
				margin-top: 1.5rem;
				a {
					font-weight: 700;
					color: $dark-orange;
				}
			}
		}
		.my-image {
			width: 2em;
			flex: 1.5;
            margin-left: 2em;
            @include break(0, 60.625em) {
            	width: 100%;
			    background: white;
			    border-radius: 0 0 0.5rem 0.5rem;
			    margin-left: 0;
            }
            @include break(0, 38em) {
            	padding: 0.5rem 15% 0.5rem 15%;
            }
            @include break(38em, 60.625em) {
            	padding: 0.5rem 30% 0.5rem 30%;
            }
			img {
				border-radius: 0.5rem;
				width: 100%;
				height: auto;
				// outline: 0.25rem dotted $button-color;
    // 			outline-offset: -0.5rem;
    			// border: 0.5rem $orange solid;
			}
		}
	}
}

.skills {
	.container-skills {
		background: $background-color;
		display: flex;
		flex-direction: column;
		h3 {
			margin-bottom: 0.5rem;
		    font-size: 1em;
		    font-weight: 500;
		    color: $dark-orange;
		    margin-top: 0;
		    @include break(0, 60.626em) {
				font-size: 0.9em;
		    }
		}
		@include break(0, 38em) {
			h3:first-child {
				margin-top: 1.5rem;
			}
		}
		.programming, .web-workflow, .softwares {
			background-color: white;
			border-radius: 0.5rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 1.5em;
			margin-bottom: 2rem;
			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				margin: 0 1.5em 1.5em 1.5em;
				h4 {
					order: 1;
					font-weight: 400;
					padding-top: 0.5rem;
    				font-size: 0.75em;
				}
				img {
					order: 0;
					width:4em;
				}
			}
		}
		@include break(0, 60.625em) {
			.softwares {
				margin-bottom: 0;
			}
		}
	}
}

.portfolio {
	.works {
		background: $background-color;
		.search {
			margin-bottom: 1rem;
		    padding: 0.5rem 2rem;
		    font-size: 0.85em;
		    text-transform: uppercase;
		    background: #fcab62;
		    margin-right: 3.5rem;
		    border-radius: 0.25rem;
		    display: inline-block;
		    text-align: right;
		    position: absolute;
		    right: 0;
		    a {
		    	color: $dark-orange;
		    }
		    a:after {
		    	font-family: 'FontAwesome';
				content: " \f078";
				font-size: 1.25em;
				color: $dark-orange;;
		    }
		}
		.search:hover {
			a:after {
				font-family: 'FontAwesome';
				content: " \f077";
				font-size: 1.25em;
			}
		}
		li {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 3rem;
			@include break(0, 60.625em) {
				display: block;
			}
			.project-image {
				.mobile {
					display: none;
					@include break (0, 60.625em) {
						display: block;
						border-radius: 0.5rem 0.5rem 0 0;
						-webkit-box-shadow: 0px 10px 14px -9px rgba(173,173,173,0.5);
						-moz-box-shadow: 0px 10px 14px -9px rgba(173,173,173,0.5);
						box-shadow: 0px 10px 14px -9px rgba(173,173,173,0.5);
					}
				}
				.desktop {
					display: block;
					@include break(0, 60.625em) {
						display: none;
					}
				}
				background: white;
				flex: 1;
				padding-right: 3rem;
				border-radius: 0.5rem 0 0 0.5rem;
				@include break(0, 60.625em) {
					border-radius: 0.5rem 0.5rem 0 0;
					padding-right: 0;
				}
				@include break(95em) {
					flex:1.5;
				}
				img {
					border-radius: 0.5rem 0 0 0.5rem;
					width: 100%;
					@include break(0, 60.625em) {
						border-radius: 0;
					}
				}
			}
			.project-info {
				padding: 1.5rem 2rem 2.5rem 0;
				background: white;
				border-radius: 0 0.5rem 0.5rem 0;
				flex: 3;
				@include break(0, 60.625em) {
					padding: 0.5rem 0.5rem 0.5rem 0.5rem;
					border-radius: 0 0rem 0.5rem 0.5rem;
				}
				@include break(38em, 60.625em) {
					padding: 1rem 1rem 2.5rem 1rem;
				}
				h3 {
					margin-bottom: 1rem;
					margin-top: 0;
					font-size: 1.25em;
					@include break(0, 60.625em) {
						margin-top: 1.5rem;
					}
				}
				.description {
					margin-bottom: 3rem;
					margin-top: 1rem;
					@include break(0, 60.625em) {
						margin-bottom: 2rem;
					}
				}
				.tools {
					font-style: italic;
					border-top: dotted 2px $dark-orange;
				    border-bottom: dotted 2px $dark-orange;
				    margin: 0.5rem 0;
				    padding: 0.25rem 0;
				    font-size: 0.85em;
				    color: $dark-orange;
				}
			}
		}
		li:last-child {
			margin-bottom: 0;
		}
		// 	.project-image {
		// 		order: 0;
		// 		margin-right: 3rem;
		// 	}
		// 	.project-info {
		// 		order: 1;
		// 	}
		// }
		// li:nth-child(even) {
		// 	.project-image {
		// 		order: 1;
		// 		margin-left: 3rem;
		// 	}
		// 	.project-info {
		// 		order: 0;
		// 	}
		// }
	}
}

.contact {
	.contact-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		@include break(0, 38em) {
			padding-bottom: 2rem;
		}
		.form-messages {
			padding-top: 2rem;
			color: $dark-orange;
		}
		h3 {
			font-size: 1.75em;
			margin-bottom: 1.5rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			color: $orange;
		}
		.email, .telephone {
			margin-bottom: 0.75rem;
			font-weight: 500;
			color: $dark-orange;
		}
		.telephone {
			margin-bottom: 2rem;
		}
		input, textarea {
			width: 70%;
			display: block;
		    margin-left: 15%;
		    margin-right: 15%;
		    padding: 0.75rem;
		    border-radius: 0.5rem;
		    margin-bottom: 1.5rem;
		    text-decoration: none;
		    border: none;
		    border-bottom: 0.15rem solid $button-color;
		    border-left: 0.15rem solid $button-color;
		    @include break(0, 38em) {
		    	width: 100%;
		    	margin-left: 0;
		    	margin-right: 0;
		    }
		    @include break(38em, 60.625em) {
		    	width: 95%;
			    display: block;
			    margin-left: 2.5%;
			    margin-right: 2.5%;
		    }
		}
		textarea {
			margin-bottom: 3rem;
			@include break(0, 60.625em) {
				margin-bottom: 2rem;
			}
		}
		button {
			background: $button-color;
		    padding: 0.75rem 1rem;
		    border-radius: 0.5rem;
    		font-size: 0.85em;
    	    color: $dark-orange;
    		text-transform: uppercase;
    		border: none;
		}
		button:hover {
			background: white;
			color: $orange;
			font-weight: 700;
		}
	}
}

.project {
	z-index: 50;
	h2 {
		position: relative;
		margin-top: 6rem;
		display: inline-block;
	}
	.project-container {
		margin-top: 0;
		background : $background-color;
		.project-info {
			padding: 1.5rem;
			background: white;
			border-radius: 0.5rem;
			@include break(38em, 60.625em) {
				padding: 1.5rem 1.5rem 0 1.5rem;
			}
			@include break(0, 38em) {
				padding: 1rem 1rem 0 1rem;
			}
			.video {
				padding-bottom: 1.5rem;
				text-align: center;
				iframe {
					height: 19.688em;
					width: 35em;
					@include break(45.938em, 60.625em) {
						width: 30em;
						height: 16.875em;
					}
					@include break(38em, 45.938em) {
						width: 23em;
						height: 12.9em;
					}
					@include break(0, 38em) {
						width: 100%;
					}
				}
				@include break(38em, 60.625em) {
					padding-bottom: 1rem;
				}
			}
			.project-description {
				width: 80%;
				margin: 1.5rem 10%;
				@include break(38em, 60.625em) {
					width: 95%;
					margin: 1rem 2.5%;
				}
				@include break(0, 38em) {
					width: 100%;
					margin: 1rem 0;
				}
			}
			.but {
				text-align: center;
				margin: 3rem 0;
				@include break(38em, 60.625em) {
					margin: 3rem 0 4rem 0;
				}
			}
			.wireframes {
				width: 80%;
				margin: 0 10%;
				@include break(38em, 60.625em) {
					width: 95%;
					margin: 0 2.5%;
				}
				@include break(0, 38em) {
					width: 100%;
					margin: 0;
				}
				.first-row, .second-row {
					display: flex;
					flex-flow: row;
					justify-content: flex-start;
					align-items: flex-start;
					@include break(0, 38em) {
						display: block;
					}
				}
				img {
					flex: 1;
					@include icon-grid(2, 15%);
					border-radius: 0.25rem;
					@include break(38em, 60.625em) {
						@include icon-grid(2, 10%);
					}
					@include break(0, 38em) {
						width: 100%;
						margin: 0 0 2rem 0;
					}
				}
			}
		}
	}
}

footer {
    position: relative;
    text-align: center;
    z-index: 20;
    font-size: 0.75em;
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;
    color: $headings-color;
}