$background-color: rgb(243, 246, 242);
$background-color-alpha: rgba(243, 246, 242, 0.75);
$font-color: rgb(40, 40, 40);
$main-color: rgb(215, 238, 133);
$button-color: rgb(215, 238, 133);
$active: rgb(70, 222, 254);
$headings-color : #3d1b04;
$orange: rgb(252, 171, 98);
$dark-orange: #8e4407;
$nav-color: rgb(9, 64, 121);