<!DOCTYPE html>
<html lang="en" ng-app='alice'>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Nadya Eidelstein, front end developer</title>
    
    <script language="javascript" type="text/javascript" src="../scripts/_bower.js"></script>
    <script language="javascript" type="text/javascript" src="../app.js"></script>
    <script src="https://use.fontawesome.com/ce026f83b6.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/app.css">

</head>

<body>
	<header class="secondary">
	    <nav>
	    	<ul class="menu-secondary">
	    		<li><a href="../index.html"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back</a></li>
	    	</ul>
	    	<div class="social-media">
	    		<a class="linkedin" href="https://www.linkedin.com/in/nadya-fedotova-2480b2ab?trk=hp-identity-photo" target="_blank"></a>
	    		<a class="github" target="_blank" href="https://github.com/Yabloko28"></a>
	    		<a class="mail" target="_blank" href="nadezhda.fed.28@gmail.com"></a>
	    	</div>
	    </nav>
    </header>

	<section class="project">
		<h2>Moodject</h2>
		<div class="project-container" id="project-container">
			<div class="project-info">
				<div class="video">
					<iframe src="https://www.youtube.com/embed/O6KkLkLGlZU" frameborder="0" allowfullscreen></iframe>
				</div>
				<p class="project-description">Moodject is a mobile app for creative people, who are in constant need to
				document their inspiration, organize and brainstorm their ideas. The format of the
				mobile app allows to access this tool at any time, so the users are not limited in
				putting down their immediate thoughts, ideas and inspiration, whenever they
				feel like doing so.</p>
				<p class="project-description">The app is supposed to be treated like a working space, so the design has to be
				very clear and minimal, resembling a clean working space with all the necessary
				tools that are understandable and easy to use.</p>
				<div class="but"><a class="button" href="https://invis.io/BE2VH09R2">View Prototype</a></div>
				<div class="wireframes">
					<div class="first-row">
						<img src="../images/moodj2.jpg">
						<img src="../images/moodj1.jpg">
					</div>
					<div class="second-row">
						<img src="../images/moodj4.jpg">
						<img src="../images/moodj3.jpg">
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>Copyright &copy; 2016, Nadya Eidelstein</footer>
</body>

</html>