<!DOCTYPE html>
<html lang="en" ng-app='alice'>

<head>

    <meta charset="utf-8" />
    <title>Nadya Eidelstein, front end developer</title>
    
    <script language="javascript" type="text/javascript" src="../scripts/_bower.js"></script>
    <script language="javascript" type="text/javascript" src="../app.js"></script>
    <script src="https://use.fontawesome.com/ce026f83b6.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/app.css">

</head>

<body>
	<header class="secondary">
	    <nav>
	    	<ul class="menu">
	    		<li><a href="../index.html">Back to Main Page</a></li>
	    	</ul>
	    	<ul class="social-media">
	    		<li class="linkedin"></li>
	    		<li class="github"></li>
	    		<li class="mail"></li>
	    	</ul>
	    </nav>
    </header>

	<section class="project">
		<h2>Moodject</h2>
		<div class="project-container" id="project-container">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/O6KkLkLGlZU" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a class="button">View Prototype</a>
		</div>
	</section>

	<footer>Copyright &copy; 2016, Nadya Eidelstein</footer>
</body>

</html>